.container {
  position: relative;
  width: 100%;
}

.input {
  width: 100%;
  padding: 12px 16px;
  border: 1px solid #E5E7EB;
  background-color: #F9FAFB;
  border-radius: 8px;
  font-size: 14px;
  transition: all 0.2s;
}

/* .input:focus {
  outline: none;
  ring: 2px;
  ring-color: #1D9E53;
  border-color: #1D9E53;
} */

.input:disabled {
  background-color: #E5E7EB;
  cursor: not-allowed;
}

.withStartIcon {
  padding-left: 48px;
}

.withEndIcon {
  padding-right: 48px;
}

.startIcon {
  position: absolute;
  top: 50%;
  left: 16px;
  transform: translateY(-50%);
  color: #9CA3AF;
  pointer-events: none;
  display: flex;
  align-items: center;
}

.endIcon {
  position: absolute;
  top: 50%;
  right: 16px;
  transform: translateY(-50%);
  color: #9CA3AF;
  background: none;
  border: none;
  cursor: pointer;
  padding: 4px;
  display: flex;
  align-items: center;
  transition: color 0.2s;
}

.endIcon:hover {
  color: #4B5563;
}