.sidebar {
  width: 255px;
  background-color: #1D9E53;
  color: white;
  display: flex;
  flex-direction: column;
  height: 100%;
  flex-shrink: 0;
}

.header {
  padding: 16px;
  height: 92px;
  display: flex;
  align-items: center;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

.logo {
  display: flex;
  flex-direction: column;
}

.logoText {
  font-size: 28px;
  font-weight: bold;
  display: block;
  margin: 0 0 0 -20px;
}

.logoSubtext {
  font-size: 11px;
  opacity: 0.9;
  margin-left: -20px;

}

.nav {
  flex: 1;
  padding: 16px;
  padding-top: 24px;
  overflow-y: auto;
  display: flex;
  flex-direction: column;
}

.navItem {
  width: 100%;
  position: relative;
  display: flex;
  align-items: center;
  gap: 12px;
  padding: 6px 14px;
  border-radius: 8px;
  margin-bottom: 8px;
  transition: all 0.2s;
  color: white;
  background: none;
  text-align: left;
  text-decoration: none;
  border: none;
  cursor: pointer;
}

.navItem:hover {
  background-color: rgba(255, 255, 255, 0.2);
}

.navItem.active {
  background-color: white;
  color: #1D9E53;
  font-weight: 600;
  box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.05);
}

.navLabel {
  font-size: 14px;
}

.badge {
  margin-left: auto;
  background-color: #EF4444;
  color: white;
  font-size: 12px;
  border-radius: 9999px;
  width: 20px;
  height: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
}

.logout {
  margin-top: auto;
}

.logoImage {
  width: 100px;
  height: 65px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0  0 0 -20px;
}

.logoImage img {
  width: 100%;
  height: auto;
}